.jobRow {
  margin: 0.5%;
}

.displayJobs {
  margin-top: 20%;
  display: flex;
}

.headerJobs {
  width: 200px;
}

.oneJobOutline {
  border: $gold 1px solid;
  margin: 1%;
  padding: 10px;
  text-align: center;

  a {
    h2.jobTitle {
      font-size: 18px;
      font-weight: 300;
      color: $black;
    }

    h3.subheading {
      font-size: 14px;
      font-weight: 600;
      color: grey;
      text-transform: uppercase;
    }

    &:hover {
      color: red;
      background: grey;
    }
  }
}

.jobsOfficeLogo {
  width: 70%;
  margin: 0 auto;
}

// jobsingles --------------------------------

.single-job-top {
  background: lightgrey;
  padding: 35px;
  margin-bottom: 10%;
  text-align: left;
}

.single-job-bottom {
  h2 {
    padding: 20px 0;
    color: blue;
  }
}

.job-description {
  background: burlywood;
}

.job-responsibilities {
  background: pink;
}

.apply-online {
  border-left: 1px solid $gold;
}
