.commercial-header {
  height: 100vh;
  width: 100vw;
  background: url('../images/tv.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img.tvCover {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
  }
}

.blackback {
  position: absolute;
  top: 0;
}

.plaidBack {
  margin-top: 95vh;
  height: 40vh;
  background-image: url('../images/plaid.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h2.theTeam {
    font-weight: 650;
    font-size: 3rem;
    position: absolute;
    right: 19%;
    margin-top: -1%;
    text-transform: uppercase;
  }

  .finger {
    position: absolute;
    right: 30%;
    transform: rotate(310deg) scaleX(-1);
    width: 180px;
  }
}

.tri {
  margin-top: -100px;
}

.triangleWrap {
  margin-left: 17%;
  position: relative;
  border-top: 5px solid $gold;
  height: 50px;
  width: 925px;
}

.largeTriangle {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -325px;
  width: 650px;
  height: 650px;
  border-right: 5px solid $gold;
  border-bottom: 5px solid $gold;
  transform: rotate(45deg);
}

.commercialTeam {
  height: 80vh;
}

.teamphoto {
  text-align: center;
}

.comTeam {
  margin: 1%;
  border: solid 1px azure;
  height: 70vh;

  &:first-child {
    margin-left: 5%;
  }
}
