.heroImg {
  position: absolute;
  top: 0;
}

h1.office-location-header {
  position: absolute;
  margin: 0 auto;
  color: $white;
  font-size: 4rem;
  top: 25%;
  z-index: 2;
  padding-left: 15%;
  font-weight: 200;
}

.office_info {
  color: $white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  padding: 10% 7%;
  height: 100%;
  left: 100%;
  width: 50%;
  transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s;
}

.officebackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  &:hover {
    .office_info {
      cursor: pointer;
      left: 50%;
    }
  }
}

ul {
  list-style: none;
}

ul.contact {
  &:first-child {
    // padding-top: 10%;
    padding-left: 5%;
  }

  li {
    padding-bottom: 1%;
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 400;
    display: inline;
    color: floralwhite;
  }

  p { display: inline; }
}

h4.conHead {
  vertical-align: top;
  font-size: 2rem;
  font-weight: 200;
}

h4.contactLeads {
  vertical-align: top;
  font-size: 2rem;
  font-weight: 200;
}

p.name {
  font-size: 16px;
}

p.pos {
  font-size: 10px;
  font-weight: 300;
}

ul.officeInfo {
  height: 100%;
}

.contact_row {
  vertical-align: middle;
}

.start {
  margin-top: -90px;
  padding-top: 90px;
}
