// to make the footer stay on the bottom, must ref html
html {
  position: relative;
}

footer {
  // background: beige;
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin-top: 200px;
}

ul#menu-footer-links.navfooter {
  list-style: none;
  display: inline;
  text-align: center;
}

.logoFooter {
  margin-left: 43.5%;
  width: 150px;
  height: auto;
}

.scrollToTop {
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 75px;
  right: 40px;
  display: none;
}

.scrollToTop:hover { text-decoration: none; }
