.nav a {
  padding: 1em;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  border: 1px solid $gold;
  background: $white;
  color: $black;
}

.brand {
  background-position: center;
  background-size: cover;
}

img.logo {
  width: 250px;
  height: auto;
  margin-bottom: -20px;
}

.nav-primary {
  font-size: 12px;
  padding-right: 1%;
}
