img.ProfilePic {
  width: auto;
  height: 350px;
  margin: 0 auto;
  border-bottom: solid 1px $black;
  position: absolute;
  left: -90px;
}

.entry-content-bio {
  vertical-align: top;
  padding: 2%;
  overflow: scroll;
  max-height: 20vh;
}

h1.entry-title-name {
  color: $black;
  font-size: 2rem;
}

.profileImgContainer {
  text-align: center;
}

.social-media-contact {
  li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 2%;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 350px solid $gold;
  position: absolute;
  top: -20%;
}

.block {
  // border: 1px solid blue;
  height: 300px;
}
