.member-info {
  border: 1px solid $gold;
  height: 80vh;
  width: 100%;
  position: absolute;
  right: 5%;
}

.staffPage {
  margin-left: 5%;
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

img.staff-grid {
  width: 150px;
  height: 150px;
  padding: 1%;
  border-bottom: 1px solid $black;
  margin: 5px;
  text-align: center;
}

h2.name {
  text-align: center;
  color: $black;
  font-size: 2rem;
  font-weight: 200;
}

h3.title {
  text-align: center;
  text-transform: uppercase;
  color: grey;
  font-size: 1rem;
}

.oneBio {
  width: auto;
}

a.person:active {
  border: 1px solid $gold;
  color: $red;
}
