.member-info {
  // border: 1px solid $red;
  height: 80vh;
  width: 100%;
  overflow: visible;
  // position: absolute;
  // right: 5%;
}

.staffPage {
  margin-left: 5%;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  // border: 1px solid blue;
  max-width: 70%;
  // position: absolute;
}

img.staff-grid {
  width: 100px;
  height: 100px;
  padding: 1%;
  border-bottom: 1px solid $black;
  margin: 5px;
  text-align: center;
}

h2.name {
  text-align: center;
  color: $black;
  font-size: 2rem;
  font-weight: 200;
}

h3.title {
  text-align: center;
  text-transform: uppercase;
  color: grey;
  font-size: 1rem;
}

.oneBio {
  width: auto;
}

a.person:visited {
  border: 1px solid $gold;
  color: $red;
}
