// Brand Colors
$black: #000;
$white: #fff;
$grey: #6d6e71;
$gold: #c4ab81;
$red: #f00;
$navyBlue: #0f1823;

// Fonts
@font-face {
  font-family: Crystal Sky;
  src:
    url('../fonts/CrystalSky.eot'),
    url('../fonts/CrystalSky.eot?#iefix'),
    format('embedded-opentype'),
    url('../fonts/CrystalSky.woff') format('woff'),
    url('../fonts/CrystalSky.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$cursive: Crystal Sky, monospace;
$mainFont: Helvetica Neue Light, HelveticaNeue-Thin, Helvetica Neue, Helvetica, Arial, sans-serif;
