.all-office-icons {
  position: sticky;
  top: 0;
  left: 0;
  background: $white;
  z-index: 4;
  padding-top: 2%;
  margin-top: 20%;

  li {
    display: inline-block;
    padding: 2%;
    list-style: none;
    color: $black;
    text-align: center;

    h4 {
      font-size: 1rem;
      margin-top: 10px;
    }

    &:first-child {
      margin-left: 25%;
    }
  }
}

img.icon-logo {
  width: 50px;
  height: 50px;
}
